<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="40450.TUU-NING" Publisher="CN=9425E8FB-9853-4D47-AE88-B31FCA7ECACB" Version="1.0.0.5" />
  <Properties>
    <DisplayName>TUU-NING</DisplayName>
    <PublisherDisplayName>프레니</PublisherDisplayName>
    <Logo>Assets\New\logo_store.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RadioRss.App">
      <VisualElements DisplayName="TUU-NING" Logo="Assets\New\logo_normal.png" SmallLogo="Assets\New\logo_small.png" Description="RadioRss" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\New\logo_big.png" />
        <SplashScreen Image="Assets\New\logo_start view.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="MainPage.xaml">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>